# dependencies
src/background/messages_pb.js

# assets
/assets

# development
/lib
webpack.common.js
webpack.dev.background.js
webpack.dev.js
webpack.dev.main.js
webpack.dev.overlay.js
webpack.dev.renderer.js
webpack.dev.updater.js
webpack.post.js
webpack.prod.js

# production
/build
/dist
/node_modules