.vscode
node_modules
database.json
dist
lib
src/assets/.DS_Store
src/assets/resources/logs/main.log
src\assets\resources/logs/main.log
src/assets/resources/test-application.db
src/assets/resources/TesterMan#123456.db
debug.log
