.signup_link, .privacy_link, .launch_login_link {
  color: var(--color-text-link);
  cursor: pointer;
}

.message_small {
  text-align: center;
  margin-bottom: 6;
  color: var(--color-text);
  font-family: "Lato";
}

.message_small a {
  cursor: pointer;
  text-align: center;
  margin: 4px;
  color: var(--color-text-link);
}