
.mana_curve_container {
  margin: 6px auto;
  max-width: 630px;
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% - 24px);
}

.mana_curve {
  display: flex;
  align-items: flex-end;
  height: 96px;
  margin: 0px 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(250, 229, 210, 0.8);
  width: 100%;
}

.mana_curve_column {
  color: #fae5d2;
  justify-content: space-around;
  width: -webkit-fill-available;
  flex-direction: column;
  margin: 0px 4px;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 229, 210, 0.8);
}

.mana_curve_number {
  opacity: 1;
  position: relative;
  height: 0px;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000000ad;
  font-family: Beleren;
}

.mana_curve_numbers {
  display: flex;
  align-items: flex-end;
  height: 24px;
  width: 100%;
}

.mana_curve_costs {
  display: flex;
  align-items: flex-start;
  width: 100%;

}

.mana_curve_column_number {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FAE5D2;
  width: 100%;
  font-family: "belerenbold";
}

.mana_curve_column span {
  align-self: flex-end;
}

.mana_curve_tag {
  margin: 8px auto;
  writing-mode: tb-rl;
  width: 20px;
  padding: 12px 0px;
  border-radius: 10px;
  font-size: 13px;
  color: black;
  font-family: var(--sub-font-name);
  transform: rotate(180deg);
}
