.container {
  position: absolute;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  color: var(--color-light);
  font-size: 14px;
  font-family: var(--main-font-name);
  box-shadow: 0px 5px 15px 0px black;
}

.wrapper {
  margin: 0 20px 20px 20px;
}

.topNav {
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90px;
  /* border-bottom: 1px solid var(--color-light-40); */
  margin-bottom: 12px;
  /* padding-bottom: 12px; */
}

.topOpponent, .topPlayer {
  display: flex;
  width: 128px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tooBrief {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pName {
  font-family: var(--main-font-name);
  margin-bottom: 4px;
}

.bigTitle {
  font-size: 20px;
}

.subTitle {
  margin: 4px 0px;
  color: var(--color-light-50);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roundCardSep {
  width: 1px;
  background-color: var(--color-light-40);
}

.roundCards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 8px;
}

.footer {
  color: var(--color-light-66);
  font-family: var(--main-font-name-it);
}