
.stats_set_completion {
  max-width: 600px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
}

.stats_set_completion_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 32px;
  color: var(--color-light);
}

.stats_set_completion.stats_sidebar {
  cursor: default;
  max-width: 240px;
}

.stats_set_details {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  -webkit-transition: all .2s ease-in;
}

.stats_set_details span {
  line-height: 24px;
  margin: 0 6px;
  font-size: 13px;
  color: var(--color-light);
  -webkit-transition: all .2s ease-in;
}

.stats_set_bar {
  position: relative;
  background-color: rgba(183, 200, 158, 1);
  height: 2px;
}

.stats_set_bar:after {
  content: '';
  left: 0;
  width: 600px;
  background-color: rgb(99, 79, 53);
  height: 2px;
  position: absolute;
  z-index: -1;
}

.stats_sidebar .stats_set_bar:after {
  width: 240px;
}
