.app-wrapper {
  z-index: auto;
  height: calc(100% - 24px);
  background-color: var(--color-base);
}

.app-wrapper-back, .app-wrapper-back-no-frame {
  flex: 1 1 auto;
  z-index: auto;
  background-image: url(../../assets/images/main-background.jpg);
  background-position: center;
  background-size: cover;
}

.app-wrapper-back:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.33;
  top: 4px;
  left: 0;
  background: url(../../assets/images/background_overlay.png);
}

.app-wrapper-back-no-frame:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.33;
  top: 0px;
  left: 0;
  background: url(../../assets/images/background_overlay.png);
}

.wrapper {
  width: 100%;
  height: calc(100% - 49px);
}

.overflow_ux_main {
  width: calc(100%);
  height: 100%;
  overflow: hidden;
}

.moving_ux {
  position: relative;
  display: flex;
  width: calc(300%);
  height: 100%;
}

.ux_item {
  width: calc(100%);
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  align-items: stretch;
}

.version_number {
  width: 80px;
  text-align: center;
  font-family: var(--main-font-name);
  color: var(--color-text);
  line-height: 24px;
  font-size: 14px;
  height: 24px;
  position: absolute;
  left: calc(100% - 84px);
  top: calc(100% - 28px);
  background-color: var(--color-section);
  z-index: 100;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
}

.app_settings {
  display: flex;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 4px;
  top: calc(100% - 36px);
  background-color: var(--color-section);
  z-index: 100;
  border-radius: 4px;
}