.economy_day_stats {
  font-family: var(--main-font-name);
  font-size: 16px;
  margin: auto 16px auto auto;
  align-items: center;
  justify-content: flex-end;
}

.economy_metric {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.economy_delta {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 6px;
  line-height: 64px;
}

.economy_up {
  background-repeat: no-repeat;
  margin: 4px;
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/images/up_green.png);
  background-size: contain;
}

.economy_down {
  background-repeat: no-repeat;
  margin: 4px;
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/images/down_red.png);
  background-size: contain;
}

.economy_title {
  margin: 4px 0;
  display: grid;
  padding: 0px 8px;
  grid-template-columns: auto 10% 15% 20% 20% 15%;
  color: var(--color-text);
  line-height: 64px;
  font-size: 16px;
}

.economy_sub {
  margin-left: 2px;
  font-family: var(--sub-font-name);
  color: var(--color-text);
  white-space: nowrap;
  text-overflow: clip;
  margin: auto 0;
}

.economy_sub.small {
  line-height: 32px;
}

.economy_wc {
  min-width: 24px;
  height: 24px;
  margin: 0 4px;
  background-size: contain;
  background-repeat: no-repeat;
}

.economy_ticket {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/ticket.png);
  background-size: contain;
}

.economy_ticket_med {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/ticket.png);
  background-size: contain;
}

.economy_gems {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/gem.png);
  background-size: contain;
}

.economy_wc_med {
  background-repeat: no-repeat;
  margin: auto 8px;
  margin-left: 18px;
  width: 28px;
  height: 35px;
  background-size: contain;
}

.economy_gold {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/gold.png);
  background-size: contain;
}

.economy_gold.marginLeft {
  margin-left: 16px;
}

.economy_mastery_med {
  background-repeat: no-repeat;
  margin: auto 4px;
  margin-left: 16px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/mastery.png);
  background-size: contain;
}

.economy_vault {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/vault.png);
  background-size: contain;
}

.economy_card {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/card_icon.png);
  background-position: center;
  background-size: contain;
}

.economy_vanity {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/egg.png);
  background-position: center;
  background-size: contain;
}

.economy_orb {
  background-repeat: no-repeat;
  margin: auto 4px auto 16px;
  width: 20px;
  height: 20px;
  background-image: url(../../../assets/images/orb.png);
  background-size: contain;
}

.economy_exp {
  background-repeat: no-repeat;
  margin: auto 4px;
  margin-left: 16px;
  width: 28px;
  height: 28px;
  background-image: url(../../../assets/images/skin.png);
  background-size: contain;
}

.economy_skin_art {
  background-repeat: no-repeat;
  margin: auto 4px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.economyIconMargin {
  margin-left: 24px;
}

.economy_row_hidden {
  height: 0px;
  display: none;
}

.tiny_scroll::-webkit-scrollbar {
  height: 2px;
}

.tiny_scroll::-webkit-scrollbar-track {
  border-radius: 2px;
  margin-left: 2px;
  background: var(--color-section);
}

.tiny_scroll::-webkit-scrollbar-thumb {
  background: var(--color-button);
  border-radius: 2px;
}

.tiny_scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-button-hover);
}
