.settings_nav {
  cursor: pointer;
  color: var(--color-text);
  font-size: 16px;
  line-height: 30px;
  margin: 4px;
  height: 30px;
  font-family: var(--main-font-name);
  padding-left: 6px;
  border-radius: 2px;
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.settings_nav:hover {
  background-color: var(--color-section-hover);
}

.nav_selected {
  color: var(--color-text-hover);
  background-color: var(--color-section-active) !important;
}

.settings_section {
  display: none;
}

.settings_row {
  display: inline-flex;
  margin-left: 16px;
}

.settings_page {
  width: -webkit-fill-available;
  max-width: 900px;
  height: max-content;
  margin: 0 16px 16px 16px;;
}

.settings_title {
  font-family: var(--main-font-name-it);
  font-size: 20px;
  border-bottom: solid var(--color-line-sep) 1px;
  color: var(--color-text);
  margin: 24px 0px 14px 0px;
  padding-bottom: 3px;
}

.settingsLeft {
  flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: flex-start;
  background-color: var(--color-section);
  border-right: 1px solid var(--color-line-sep);
}

.settingsRight {
  position: relative;
  z-index: 1;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 800px;
  -webkit-box-align: start;
  align-items: flex-start;
  height: 100%;
  overflow: auto;
}
