p {
    margin: 0;
}

.centered_ux {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.button_reset {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    background: none;
    border: none;
}

.button_reset:focus {
    /* not very accessable */
    outline: none;
}

span i {
    margin-left: 4px;
}

time, local-time, relative-time {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 16px;
  font-family: var(--main-font-name-it);
  white-space: nowrap;
  font-weight: 300;
  color: var(--color-text);
}

.top_status, .top_status_span {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    align-self: center;
}

.status_item {
    display: flex;
    color: var(--color-light);
}

.top_status_pop {
    font-size: 14px;
    pointer-events: none;
    display: grid;
    padding: 12px;
    color: var(--color-light);
    width: 240px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    height: 140px;
    position: absolute;
    top: 48px;
    margin-left: -120px;
    -webkit-transition: all .5s ease-in-out;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.status_green {
    background-image: url(../assets/images/status_green.png);
}

.status_yellow {
    background-image: url(../assets/images/status_yellow.png);
}

.status_red {
    background-image: url(../assets/images/status_red.png);
}

.status_black {
    background-image: url(../assets/images/status_black.png);
}

.status_locked {
    background-image: url(../assets/images/lock.png);
}

.link {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 12px;
}

.notification {
    -webkit-app-region: no-drag;
    display: none;
    background: url(../assets/images/alert.png) no-repeat center;
    width: 24px;
    height: 24px;
    align-self: center;
    position: relative;
    margin-right: 16px;
}

.button_simple {
    align-self: center;
    cursor: pointer;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    color: var(--color-text-button);
    font-size: 16px;
    text-align: center;
    margin: auto 4px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-button);
    font-family: var(--main-font-name);
    transform: translateY(0);
    -webkit-transition: all .2s ease-in-out;
}

.button_simple:active {
    border: 1px solid var(--color-dark-hover);
    background-color: var(--color-button);
}

.button_simple:hover {
    border: 1px solid var(--color-dark-hover);
    color: var(--color-text-button-hover);
    background-color: var(--color-button-hover);
}

.button_simple_disabled {
    align-self: center;
    cursor: pointer;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    color: var(--color-text-button-disabled);
    font-size: 16px;
    text-align: center;
    margin: auto 4px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-button);
    font-family: var(--main-font-name);
    transform: translateY(0);
    -webkit-transition: all .2s ease-in-out;
}


.disabled {
    color: var(--color-text-disabled) !important; 
}

.disabled:hover {
    box-shadow: none !important;
    transform: translateY(0) !important;
}

.button_thin {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    /*width: 120px !important;*/
    height: 24px !important;
    line-height: 24px !important;
    font-size: 14px !important;
}

.button_long {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    width: 240px !important;
    height: 28px !important;
    line-height: 28px !important;
    font-size: 14px !important;
}

.button_edit {
    height: 20px;
    line-height: 20px;
    margin: 6px auto;
}

.button_edit:active {
    background-color: var(--color-text);
    line-height: 22px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.6);
}


.it10, .it11 {
    width: 60px;
}

.rank {
    -webkit-app-region: no-drag;
    align-self: center;
    margin-left: 16px;
    width: 48px;
    height: 48px;
    background: url(../assets/images/ranks_constructed_48.png);
    background-position: 0px 0px;
}

.rank-bullets {
    height: 8px;
    display: flex;
    justify-content: space-between;
}

.rank-bullet-light {
    background-image: url(../assets/images/rank_bullet_light.png);
    width: 8px;
    height: 8px;
}

.rank-bullet-dark {
    background-image: url(../assets/images/rank_bullet_dark.png);
    width: 8px;
    height: 8px;
}

.sidebar_separator {
    height: 16px;
}

.deck_tile {
    width: 128px;
    height: 64px;
    margin: 0px 16px 0px 0px;
    opacity: 0.66;
    background-size: 200px;
    background-position-x: center;
    background-position-y: -10px;
    -webkit-transition: .2s ease-out;
    transition: width opacity;
}

.deck_tile:hover {
    opacity: 1;
    width: 200px;
}

.visualView, .openDeck, .openMatches, .exportDeck, .exportDeckStandard, .centered {
    display: block;
    margin: 16px auto !important;
}

.list_deck {
    margin-right: 10px;
    cursor: pointer;
    justify-content: space-between;
	padding-left: 16px;
	height: 64px;
	display: flex;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
	-webkit-transition: all .2s ease-in;
}

.list_deck:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.list_match {
    white-space: nowrap;
    cursor: pointer;
    padding-left: 16px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all .2s ease-in;
}

.list_match:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.list_match_replay {
    width: -webkit-fill-available;
    margin-right: 16px;
    line-height: 32px;
    vertical-align: middle;
    text-align: right;
    font-family: var(--main-font-name);
    font-size: 16px;
    color: rgba(183, 200, 158, 1);
}

.ontheplaytext {
    color: var(--color-g);
    font-size: 16px;
    line-height: 16px;
    margin: auto auto 2px auto;
    font-family: var(--sub-font-name-bold);
}

.ontheplay {
    width: 16px;
    height: 16px;
    margin: 2px 4px auto 4px;
    background: url(../assets/images/ontheplay.png);
}

.onthedrawtext {
    color: var(--color-r);
    font-size: 16px;
    line-height: 16px;
    margin: auto auto 2px auto;
    font-family: var(--sub-font-name-bold);
}

.onthedraw {
    width: 16px;
    height: 16px;
    margin: 2px 4px auto 4px;
    background: url(../assets/images/onthedraw.png);
}

.notplayedtext {
    color: var(--color-b);
    font-size: 16px;
    line-height: 16px;
    margin: auto auto 2px auto;
    font-family: var(--sub-font-name-bold);
}

.notplayed {
    opacity: 0.5;
    width: 16px;
    height: 16px;
    margin: 2px 4px auto 4px;
    background: url(../assets/images/notplayed.png);
}

.list_draft_share {
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    margin: auto 30px auto 0px;
    background: url(../assets/images/share.png);
    -webkit-transition: all .2s ease-in;
}

.list_log_share {
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    margin: auto auto auto 8px;
    background: url(../assets/images/share.png);
    -webkit-transition: all .2s ease-in;
}

.list_log_cant_share {
    cursor: pointer;
    opacity: 0.4;
    width: 40px;
    height: 40px;
    margin: auto auto auto 8px;
    background: url(../assets/images/share.png);
    -webkit-transition: all .2s ease-in;
}


.list_draft_share:hover, .list_log_share:hover {
    opacity: 0.9;
}


a:hover {
    text-decoration: underline;
}

.message_sub {
    font-size: 20px;
    opacity: 0.9;
    font-family:  var(--main-font-name-it);
    text-align: center;
    margin-bottom: 6px;
}

.message_sub_15 {
    font-size: 15px;
    opacity: 0.9;
    font-family:  var(--main-font-name-it);
    text-align: center;
    margin-bottom: 6;
}

.message_updates {
    font-size: 18px;
    opacity: 0.9;
    font-family:  var(--main-font-name-it);
    text-align: center;
    margin-top: 6;
    margin-bottom: 6;
}

.ranks_16 {
    -webkit-app-region: no-drag;
    margin-right: 4px;
    align-self: center;
    width: 16px;
    height: 16px;
    background: url(../assets/images/ranks_16.png);
    background-position: 16px 0px;
}

.matches_top {
    display: flex;
    min-height: 64px;
    margin-left: 16px;
    justify-content: space-between;
}

.matches_tags {
    display: flex;
    margin: 1px -10px 0px 8px;
}

.decklist {
    padding: 16px;
    width: calc(50% - 32px);
}

.cardlist {
    padding: 16px;
    min-width: calc(33% - 32px);
    width: calc(33% - 32px);
}

.stats {
    padding: 16px;
    width: calc(50% - 32px);
}

.decklist_top {
    /* opacity: 0.8; */
    width: calc(100% - 48px);
    /* height: 32px; */
    display: flex;
    margin-top: 24px;
    padding: 0 24px;
    justify-content: space-between;
}

.deck_name {
    align-self: center;
    width: 33%;
    text-align: center;
    color: var(--color-light);
    font-size: 22px;
    text-shadow: 0px 4px 16px rgb(0, 0, 0);
}

.deck_top_colors {
    width: 33%;
    justify-content: flex-end;
    align-self: center;
    display: flex;
}

.deck_tag_input {
    height: 16px;
    min-width: 32px;
    margin: 1px 0px 1px 12px;
    /* border-radius: 9px; */
    background-color: rgba(0, 0, 0, 0);
    border: none;
    /* border-bottom: solid 2px gray; */
}

.deck_tag_input:focus {
    outline: none !important;
}

.deck_tag {
    font-family: var(--sub-font-name);
    cursor: pointer;
    font-size: 13px;
    opacity: 1;
    /*overflow: hidden;*/
    margin-right: 12px;
    margin-bottom: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    -webkit-transition: all .2s ease-in-out;
}

.deck_tag_close {
    cursor: pointer;
    background: url(../assets/images/close_tag.png);
    opacity: 0.5;
    width: 16px;
    height: 16px;
    display: block;
    margin: 2px 2px 2px 8px;
    -webkit-transition: all .2s ease-in-out;
}


.deck_tag_close:hover {
    opacity: 1;
}

.pie {
  width: 128px; height: 128px;
  border-radius: 50%;
}

.wildcards_cost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto;
    height: 160px;
}

.wc_cost {
    font-family:  var(--sub-font-name);
    text-indent: 48px;
    color: var(--color-light);
    min-width: 120px;
    line-height: 29px;
    height: 24px;
    text-align: right;
    background-position: left;
    background-repeat: no-repeat;
}

.wc_explore_cost {
    font-family:  var(--sub-font-name);
    color: var(--color-light);
    width: 40px;
    line-height: 96px;
    height: 64px;
    text-align: center;
    margin: auto 4px;
    background-position: center 4px;
    background-repeat: no-repeat;
}

.wc_deckstab_cost {
    font-family: var(--sub-font-name);
    color: var(--color-light);
    width: 40px;
    line-height: 65px;
    height: 40px;
    text-align: center;
    margin: auto 4px;
    background-position: center -2px;
    background-repeat: no-repeat;
}

.bo_explore_cost {
    font-family:  var(--sub-font-name);
    color: var(--color-light);
    width: 40px;
    line-height: 96px;
    height: 64px;
    text-align: center;
    background-position: center 2px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/booster.png);
}

.bo_deckstab_cost {
    font-family: var(--sub-font-name);
    color: var(--color-light);
    width: 40px;
    line-height: 65px;
    height: 40px;
    text-align: center;
    background-position: center -4px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/booster.png);
}

.wc_complete {
    width: 40px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/complete.png);
}

.wc_common      { background-image: var(--wc_common_png); }
.wc_uncommon    { background-image: var(--wc_uncommon_png); }
.wc_rare        { background-image: var(--wc_rare_png); }
.wc_mythic      { background-image: var(--wc_mythic_png); }
.wc_booster     { background-image: var(--booster_png); height: 34px; line-height: 34px; }

.inventory_card {
    width: 140px;
    display: inline-block;
    margin: 6px;
    position: relative;
}

.inventory_card.small {
    width: 39px;
}

.inventory_card.small img {
    width: 39px;
}

.inventory_card img {
    cursor: pointer;
    -webkit-border-radius: 4.75% / 3.5%;
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.25);
}

.inventory_card_aetherized {
    filter: brightness(0.5) grayscale(1);
}

.inventory_card_img:hover {
    border: 2px solid var(--color-button-hover);
    margin: -2px 0 -2px -2px;
}

.inventory_card_quantity_blue {
    width: 25%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_blue.png);
}

.inventory_card_quantity_green {
    width: 25%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_green.png);
}

.inventory_card_quantity_gray {
    width: 25%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_gray.png);
}

.inventory_card_quantity_orange {
    width: 25%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_orange.png);
}

.inventory_card_infinity_blue {
    width: 100%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_inf_blue.png);
}

.inventory_card_infinity_green {
    width: 100%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_inf_green.png);
}

.inventory_card_infinity_gray {
    width: 100%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_inf_gray.png);
}

.inventory_card_infinity_orange {
    width: 100%;
    height: 24px;
    display: inline-block;
    background: center no-repeat url(../assets/images/quantity_inf_orange.png);
}

.round_card {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin: auto 4px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-base);
}

.rarity-overlay:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.rarity-overlay-common:before {
  background-image: var(--wc_common_png);
}
.rarity-overlay-uncommon:before {
  background-image: var(--wc_uncommon_png);
}
.rarity-overlay-rare:before {
  background-image: var(--wc_rare_png);
}
.rarity-overlay-mythic:before {
  background-image: var(--wc_mythic_png);
}

.icon_search_unowned {
    display: -webkit-inline-box;
    width: 20px;
    margin-right: 16px;
    height: 20px;
    background: center no-repeat url(../assets/images/quantity_gray.png);
}

.icon_search_incomplete {
    display: -webkit-inline-box;
    width: 20px;
    margin-right: 16px;
    height: 20px;
    background: center no-repeat url(../assets/images/quantity_incomplete.png);
}

.icon_search_new {
    display: -webkit-inline-box;
    width: 20px;
    margin-right: 16px;
    height: 20px;
    background: center no-repeat url(../assets/images/quantity_orange.png);
}

.icon_search_multi {
    display: -webkit-inline-box;
    width: 20px;
    margin-right: 16px;
    height: 20px;
    background: center no-repeat url(../assets/images/filter_multi.png);
}

.icon_search_inclusive {
    display: -webkit-inline-box;
    background: center no-repeat url(../assets/images/create.png);
    background-size: contain;
    margin: auto 2px auto 2px;
    background-repeat: no-repeat;
    filter: drop-shadow(-1px 1px black);
    vertical-align: middle;
}

.icon_search_booster {
    display: -webkit-inline-box;
    width: 20px;
    margin-right: 16px;
    height: 20px;
    background: center no-repeat var(--booster_png);
    background-size: contain;
}

.wc_search_icon {
    width: 24px;
    height: 20px;
    margin: 12px 0 12px 12px;
    background-position-y: -4px;
    background-repeat: no-repeat;
}

.paging_container {
    /*margin: 8px;*/
    display: flex;
    width: 100%;
    /*height: 24px;*/
    justify-content: center;
    align-items: center;
}

.paging_text {
    color: var(--color-light);
    white-space: nowrap;
}

.paging_button {
    cursor: pointer;
    margin: auto 4px;
    width: 24px;
    height: 32px;
    text-align: center;
    line-height: 29px;
    border-radius: 2px;
    color: var(--color-light-50);
    border: 1px solid var(--color-dark);
    background-color: var(--color-section);
    -webkit-transition: all .2s ease-in;
}

.paging_button_disabled {
    margin: auto 4px;
    width: 24px;
    height: 32px;
    text-align: center;
    line-height: 29px;
    border-radius: 2px;
    border: none !important;
    color: var(--color-text-disabled) !important;
    background-color: var(--color-section) !important;
}

.paging_button:hover {
    background-color: var(--color-section-hover);
    border: 1px solid var(--color-dark-hover);
    color: var(--color-text-hover);
    outline: none;
}

.paging_button:active {
    color: var(--color-text-hover);
    outline: none;
}

.paging_active {
    background-color: var(--color-section);
    border: 1px solid var(--color-dark);
    color: var(--color-light);
}

.main_stats {
    padding: 12px;
    min-width: 240px;
    display: block;
    text-align: center;
    background-color: var(--color-section);
}

.set_stats {
    cursor: pointer;
    opacity: 0.7;
}

.set_stats:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
}

.stats_set_icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 6px;
    background-size: contain;
}

.stats_set_icon span {
    display: flex;
    line-height: 24px;
    width: max-content;
    font-size: 15px;
    position: relative;
    margin-left: 36px;
    color: var(--color-text);
}


.stats_rarity_icon {
    /*width: 24px;*/
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 6px;
    background-size: contain;
}

.stats_rarity_icon span {
    line-height: 24px;
    display: flex;
    font-size: 15px;
    position: relative;
    margin-left: 36px;
    color: var(--color-text);
}

.sets_container {
    padding-bottom: 12px;
    justify-content: center;
    display: flex;
    width: 100%;
}

.buttons_container {
    padding-bottom: 4px;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.set_logo {
    background-repeat: no-repeat;
    width: 28px;
    margin: auto 4px;
    height: 28px;
    cursor: pointer;
    background-size: contain;
}

.set_logo_med {
    background-repeat: no-repeat;
    width: 32px;
    height: 24px;
    margin: 0 4px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
}

.set_filter {
    opacity: 1;
    background-repeat: no-repeat;
    width: 32px;
    margin: 16px;
    height: 32px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    -webkit-transition: all .15s ease-in-out;
}

.set_filter:hover {
    opacity: 1;
}

.set_filter_on {
    opacity: 0.66;
}

.mana_filter {
    align-self: center;
    opacity: 1;
    background-repeat: no-repeat;
    margin: 0 2px;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    -webkit-transition: all .3s ease-in-out;
}

.mana_filter_search {
    opacity: 1;
    background-repeat: no-repeat;
    width: 48px;
    padding: 16px;
    height: 32px;
    cursor: pointer;
    background-position: center;
    background-size: 32px;
    -webkit-transition: all .3s ease-in-out;
}

.mana_filters_explore {
    display: flex;
    margin: 6px 20px;
}

.mana_filter:hover, .mana_filter_search:hover, .mana_filters_explore:hover, .rank_filter:hover, .rarity_filter:hover, .set_filter:hover {
    opacity: 1;
}

.mana_filter_on, .rank_filter_on, .rarity_filter_on, .set_filter_on {
    opacity: 0.4;
}

.rank_filter {
    align-self: center;
    display: inline-block;
    background-repeat: no-repeat;
    width: 16px;
    padding: 0px 6px;
    height: 16px;
    cursor: pointer;
    background-clip: content-box;
    background-origin: content-box;
    -webkit-transition: all .3s ease-in-out;
}

.input_container {
    padding: 0;
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 32px;
    margin: auto 4px;
}

.input_container > input {
    background-color: var(--color-section);
    border: 1px solid var(--color-dark);
    display: inline-table;
    border-radius: 2px;
    color: var(--color-text);
    width: 100%;
    font-size: 14px;
    user-select: none;
    font-family: var(--main-font-name);
    padding-left: 8px;
    -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.input_container > .select {
    display: inline-block;
    width: 100%;
    user-select: none;
    padding-left: 8px;
}
.input_container > .select > div {
    background-color: var(--color-section);
    border: 1px solid var(--color-dark);
    border-radius: 2px;
    box-shadow: none;
    -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
    min-height: 0;
}
.input_container > .select > div *:not([class$="placeholder"]) {
    background-color: var(--color-section);
    color: var(--color-text);
    font-size: 14px;
    font-family: var(--main-font-name);
}
.input_container > .select > div > div {
    height: 30px;
}
.input_container > .select > div div[class$="ValueContainer"] {
    cursor: text;
}
.input_container > .select > div div[class$="indicatorContainer"] {
    cursor: pointer;
    padding: 0;
}

input:focus,
.input_container > input:focus,
.input_container > .select > div:focus-within {
    outline-style: none;
    border: 1px solid var(--color-button);
}

.check_container {
    display: flex;
    margin-top: 12px;
    margin-left: 16px;
    position: relative;
    line-height: 20px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    -webkit-transition: all .15s ease-in-out;
}

.check_container_centered {
    margin: 16px auto !important;
    width: fit-content !important;
}

.check_container_but {
    margin-top: 20px;
    margin-left: 16px;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.but_container_label {
    height: 32px;
    line-height: 32px;
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    margin: 12px;
}

/* Hide the browser's default checkbox */
.check_container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-section);
    border: 1px solid var(--color-dark);
    -webkit-transition: all .15s ease-in-out;
}

/* On mouse-over, add a grey background color */
.check_container:hover input:enabled ~ .checkmark {
    background-color: var(--color-section-hover);
    border: 1px solid var(--color-dark-hover);
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    background-color: var(--color-button-hover) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flex_end {
    justify-content: flex-end;
}

.flex_bottom {
    height: 50%;
    display: flex;
}

  
.flex_top {
    height: 50%;
    display: flex;
    line-height: 32px;
}

.flexLeft {
    flex-direction: column;
}

.draft_nav_container {
    overflow: hidden;
    pointer-events: none;
    margin: 0 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: calc(33% - 32px);
    height: 100%;
    top: 64px;
    z-index: 40;
}

.draft_nav_prev {
    pointer-events: all;
    cursor: pointer;
    background: url(../assets/images/prev.png) no-repeat center;
    z-index: 51;
    opacity: 0.5;
    width: 32px;
    height: 100%;
    -webkit-transition: all .2s ease-in;
}

.draft_nav_next {
    pointer-events: all;
    cursor: pointer;
    background: url(../assets/images/next.png) no-repeat center;
    z-index: 51;
    opacity: 0.5;
    width: 32px;
    height: 100%;
    -webkit-transition: all .2s ease-in;
}


.draft_nav_prev:hover, .draft_nav_next:hover {
    opacity: 1;
}

.economy {
    margin: 48px auto;
    max-width: 480px;
    height: calc(100% - 96px);
}

.chart_container {
    margin-top: 48px;
}

#goldChart {
}
#vaultChart {
}

.wrapper_column {
    width: -webkit-fill-available;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.sidebar_column_l {
    border-width: 2px;
    border-style: none none none solid;
}

.sidebar_column_l {
    border-width: 2px;
    border-style: none none none solid;
}

.ranks_history {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.ranks_history_badge {
    -webkit-app-region: no-drag;
    margin: 4px;
    align-self: center;
    width: 48px;
    height: 48px;
    background: url(../assets/images/ranks_constructed_48.png);
    background-position: 0px 0px;
}

.ranks_history_title {
    -webkit-user-select: none;
    align-self: center;
    margin-top: 8px;
    color: var(--color-light);
    text-align: center;
}

.dialog_wrapper {
    pointer-events: none;
    z-index: 50;
    display: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.dialog {
    z-index: 40;
    opacity: 0;
    position: relative;
    top: calc(50% - 80px);
    margin: auto;
    background-color: var(--color-back);
    border: 1px solid var(--color-light-50);
    border-radius: 5px;
    box-shadow: 0px 2px 16px 0px black;
}

.dialog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 16px auto;
}

.share_input_container {
    display: flex;
    height: 32px;
    width: 100%;
    margin: 8px 0px;
}

.share_input_container input {
    display: inline-table;
    border-radius: 5px;
    border-style: hidden;
    height: 32px;
    width: 100%;
    font-size: 16px;
    user-select: none;
    font-family:  var(--main-font-name-it);
    margin-right: 16px;
    padding-left: 4px;
    color: #33281e;
    background-color: #f1eade;
}

.share_input_container input:focus {
    border: 1px solid #b59579;
    outline-style: none;
}

.share_title {
    color: var(--color-light);
    margin-bottom: 16px;
    font-size: 20px;
}

.share_subtitle {
    opacity: 0.8;
    color: var(--color-light-66);
    margin: 16px 0px;
    font-size: 14px;
}

.react-autosuggest__container {
    height: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: flex-start;
    margin: 0;
}

.authenticate {
    display: none;
    position: relative;
    top: calc(50% - 200px);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.delete_item {
    width: 4px;
    margin-left: 8px;
    overflow: hidden;
    background: var(--color-r) url(../assets/images/delete.png) no-repeat left;
    -webkit-transition: all .25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.auth_label {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 20px;
    color: var(--color-light);
    font-size: 20px;
    text-align: center;
}

.discord_icon {
    background-image:url(../assets/images/discord_logo.png);
    width: 32px;
    background-size: cover;
    height: 32px;
}

.discord_message {
    margin-left: 32px;
    margin-top: 10px;
    line-height: 16px;
    font-family: var(--main-font-name-it);
    opacity: 0.8;
    color: var(--color-light);
}

.discord_but {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    width: 210px;
    border-radius: 4px;
    height: 40px;
    background-size: 120px;
    background-color: #7289DA;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/discord_button.png);
    -webkit-transition: all .25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.discord_but:hover {
    background-color: #4e5d94;
}


.tourney_pwd_container {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: auto;
}

.input_lock {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.tou_create_but {
    cursor: pointer;
    margin: auto 0;
    width: 24px;
    height: 24px;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/create.png);
    -webkit-transition: all .25s ease-in-out;
}

.tou_create_but:hover {
    opacity: 1;
    -webkit-transform: rotate(90deg);
}

.tou_check_cont {
    display: flex;
}

.tou_checks {
    justify-content: center;
    display: flex;
    margin: 8px 0 12px 0;
}

.tou_check {
    width: 32px;
    margin: 0 1px;
    height: 8px;
}

.tou_container {
    display: flex;
    cursor: pointer;
    height: 32px;
    -webkit-transition: all .25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.tou_container:hover {
    background-color: rgba(220, 195, 150, 0.3);
}

.tou_name {
    width: 200px;
    color: var(--color-light);
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 16px;
}

.tou_desc {
    align-self: center;
    font-weight: 300;
    font-size: 16px;
    color: var(--color-light-75);
    text-align: center;
    margin: 14px 120px;
    font-family: var(--sub-font-name-it);
}

.tou_state {
    width: 150px;
    color: var(--color-light-75);
    font-size: 14px;
    line-height: 32px;
    margin-right: 16px;
}

.tou_cell {
    width: 100px;
    color: var(--color-light-75);
    font-size: 14px;
    line-height: 32px;
    margin-right: 16px;
}

.tou_top_status {
    color: var(--color-light-75);
    width: 33%;
    justify-content: flex-end;
    align-self: center;
    display: flex;
    font-family: var(--main-font-name-it);
    font-size: 19px;
}

.tou_record {
    font-size: 20px;
    text-align: center;
    margin: 16px auto;
    font-family: var(--sub-font-name);
}

.tou_opp {
    color: var(--color-light-75);
    justify-content: center;
    display: flex;
    font-size: 18px;
    text-align: center;
    margin-bottom: 6px;
}

.last_seen_clock {
    font-family: var(--sub-font-name);
}

.tou_opp_sub {
    font-size: 16px;
    margin-bottom: 16px;
}

.copy_button {
    margin-left: 16px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0.5;
    background: url(../assets/images/copy.png) no-repeat center;
    -webkit-transition: all .2s ease-in-out;
}

.open_button {
    margin: auto 10px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0.5;
    background: url(../assets/images/open.png) no-repeat center;
    -webkit-transition: all .2s ease-in-out;
}

.copy_button:hover, .open_button:hover {
    opacity: 1;
}

.line_lighter {
    background-color: var(--color-mid-66);
}

.line_light {
    /*background-color: var(--color-shade-25);*/
}

.line_dark {
    background-color: var(--color-shade-25);
}

.line_bottom_border {
    border-bottom: 1px solid var(--color-line-sep);
}

.tou_stand_name {
    overflow: hidden;
    width: 180px;
    text-indent: 8px;
    line-height: 28px;
}

.tou_stand_cell {
    text-indent: 8px;
    line-height: 28px;
}

.tou_center {
    text-align: center;
}

.tou_stand_small {
    width: 45px;
    text-indent: 8px;
    line-height: 28px;
}

.but_join, .but_drop {
	margin: 16px auto;
}


.tou_cont_c {
    flex-direction: column;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.join_decklist {
    max-width: 420px;
    margin: auto auto 32px auto;
}

.decklist_divided {
    margin: 24px;
    width: 50%;
    max-width: 400px;
}

.sideboarder_container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
}

[tooltip-top], [tooltip-bottom], [tooltip-bottomright] {
    position: relative;
    color: var(--color-light);
    text-decoration: underline dotted;
}

[tooltip-top]::before, [tooltip-bottomright]::before, [tooltip-bottom]::before {
    visibility: hidden;
    content: attr(tooltip-content);
    font-family: var(--main-font-name);
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -116px;
    background-color: black;
    padding: 8px 16px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 100000;
}

[tooltip-bottomright]::before {
    top: calc(100% + 10px);
    left: 0% !important;
}

[tooltip-top]::before {
    bottom: calc(100% + 10px);
}

[tooltip-bottom]::before {
    top: calc(100% + 10px);
}

[tooltip-top]::after, [tooltip-bottom]::after, [tooltip-bottomright]::after {
    visibility: hidden;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 100000;
}

[tooltip-top]::after {
    bottom: 100%;
    border-color: black transparent transparent transparent;
}

[tooltip-bottom]::after {
    top: 100%;
    border-color: transparent transparent black transparent;
}

[tooltip-top]:hover::before, [tooltip-top]:hover::after, [tooltip-bottom]:hover::before, [tooltip-bottomright]:hover::before, [tooltip-bottom]:hover::after {
    visibility: visible;
    opacity: 1;
}

.library_list {
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr);
    width: 100%;
    margin: 16px 0;
}

.library_card {
    grid-column: 1;
    padding: 0 16px;
}

.library_hand {
    grid-column: 2 / span 4;
    grid-row-start: 1;
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-mid-20);
}

.library_header {
    border-bottom: 1px solid;
    background-color: var(--color-mid-20);
}

.library_stat, .library_header {
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.library_footnote {
    grid-column: 2 / span 4;
    color: var(--color-light);
    margin-right: auto;
}

.card_lists_list {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: auto;
}

.dragger {
    background-color: var(--color-light-75);
    position: absolute;
    width: 3px;
    height: 100%;
    cursor: w-resize;
}

.overlay_prev {
    cursor: pointer;
    background: url(../assets/images/prev.png) no-repeat center;
    display: block;
    opacity: 0.5;
    width: 32px;
    height: 64px;
    -webkit-transition: all 0.2s ease-in;
}

.overlay_prev:hover {
    opacity: 1;
}

.overlay_current {
    height: 64px;
    line-height: 64px;
    color: var(--color-light);
    text-align: center;
    margin-right: auto;
    font-family: var(--main-font-name);
}

.overlay_next {
    cursor: pointer;
    background: url(../assets/images/next.png) no-repeat center;
    opacity: 0.5;
    display: block;
    width: 32px;
    height: 64px;
    -webkit-transition: all 0.2s ease-in;
}

.overlay_next:hover {
    opacity: 1;
}

.overlay_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto 24px auto auto;
}

.overlay_label {
    margin: auto auto auto 0;
    flex-shrink: 1;
}

.wnew_image {
    width: -webkit-fill-available;
    height: calc(100% - 80px);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wnew_image_cont {
    width: 100%;
    height: 100%;
}

.wnew_scroller {
    height: 80%;
    position: relative;
    display: flex;
    overflow: hidden;
    -webkit-transition: all .2s ease-in;
}

.wnew_title {
    font-family: var(--main-font-name-it);
    font-size: 24px;
    text-align: center;
    padding-bottom: 8px;
    color: var(--color-u);
}

.wnew_sub_version {
    font-family: var(--sub-font-name-it);
    font-size: 14px;
    text-align: center;
    padding-bottom: 8px;
    color: var(--color-light-50);
}

.wnew_image_title {
    font-family: var(--sub-font-name-it);
    font-size: 24px;
    color: var(--color-light);
    line-height: 48px;
    /* padding-left: 16px; */
    height: 48px;
    text-align: center;
    /* background-color: rgba(0,0,0,0.6); */
}

.wnew_image_desc {
    font-family: var(--sub-font-name-it);
    font-size: 12px;
    color: var(--color-light);
    line-height: 32px;
    height: 32px;
    /* padding-left: 16px; */
    text-align: center;
    /* background-color: rgba(0,0,0,0.6); */
}

.wnew_prev, .wnew_next {
    pointer-events: all;
    margin: 0 12px;
    position: absolute;
    cursor: pointer;
    z-index: 51;
    opacity: 0.5;
    width: calc(50% - 24px);
    height: 60%;
    -webkit-transition: all .2s ease-in;
}

.wnew_prev:hover, .wnew_next:hover {
    opacity: 1;
}

.wnew_prev {
    background: url(../assets/images/prev.png) no-repeat;
    background-position: left;
    right: 50%;
}

.wnew_next {
    background: url(../assets/images/next.png) no-repeat;
    background-position: right;
    left: 50%;
}

.wnew_scroller_pos_cont {
    margin: 24px auto 0 auto;
    display: flex;
}

.wnew_pos_ball {
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 50%;
    background-color: var(--color-w);
    -webkit-transition: all .2s ease-in;
}

.wnew_pos_ball_selected {
    width: 12px;
    height: 12px;
    margin: 2px 4px;
}

.filter_panel_root {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.filter_panel_select_margin {
    margin-bottom: 8px;
}

.filter_column {
    height: 100%;
}

.dateCont {
    display: flex;
}

.deckFiltersCont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.spacer180 {
    width: 180px;
}

.sortDiv {
    display: flex;
}

.sortLabel {
    margin-top: 7px;
}

.sortSelect {
    width: 150px;
}

.archive_label {
    margin-top: 4px;
}

.inventory_card_quantity_container {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.inventory_card_quantity {
    color: var(--color-light);
    font-family: var(--main-font-name);
    font-size: 15px;
    border-radius: 50%;
    padding: 3px;
    background-color: var(--color-back-100);
}

.sort_asc {
    background-image: url(../assets/images/icon_sort.png);
    background-size: cover;
    width: 16px;
    height: 16px;
}

.sort_desc {
    background-image: url(../assets/images/icon_sort.png);
    background-size: cover;
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
}

.flex_item {
    display: flex;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
}

.top-inner {
    display: flex;
    justify-content: space-between;
    margin: auto 16px;
    font-size: 18px;
    font-family: var(--main-font-name-bold);
}