
.select_container {
  width: 240px;
  height: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto 8px;
}

.select_title {
  white-space: nowrap;
  background-color: var(--color-back);
  font-family: var(--main-font-name-bold);
  opacity: 0.66;
  height: 33px;
  font-size: 100%;
  padding: 0 12px;
  justify-content: center;
  line-height: 33px;
}

.select_button {
  display: flex;
  color: var(--color-light);
  overflow: hidden;
  text-indent: 10px;
  cursor: pointer;
  width: inherit;
  height: 32px;
  border-radius: 4px;
  background-color: var(--color-mid-20);
  border: 1px solid var(--color-light-50);
  -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  .light {
    color: var(--color-back);
    background-color: var(--color-mid-40);
    border: 1px solid var(--color-mid-50);
  }
}

.select_button:after {
  content: "";
  width: 0px;
  height: 0;
  border: 7px solid transparent;
  border-color: var(--color-light) transparent transparent transparent;
  position: absolute;
  top: 13px;
  right: 8px;
}

.select_button:hover:enabled {
  background-color: var(--color-mid-50);
  border: 1px solid var(--color-light);
}

.select_button.active {
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0px;
  background-color: var(--color-mid-50);
}

.select_button.active:after {
  top: 5px;
  border-color: transparent transparent var(--color-light) transparent
}

.select_options_container {
  color: var(--color-light);
  cursor: pointer;
  position: absolute;
  max-height: 384px;
  overflow-y: auto;
  overflow-x: hidden;
  top: calc(100% + 0px);
  right: 0px;
  left: 0px;
  z-index: 999;
  border-radius: 0 0 4px 4px;
  background-color: hsla(29, 22%, 30%, 1);
  border: 1px solid var(--color-mid);
  border-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 8px 4px;

  .light {
    background-color: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 8px 4px;
  }
}

.select_option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  color: var(--color-light);
  margin: 0;
  height: 33px;
  padding: 0 12px;
  /*border-top: 1px solid var(--color-mid-50);*/
  -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
  width: 100%;

  .light {
    color: var(--color-light);
    background-color: var(--color-mid-66);
  }
}

.select_option:hover {
  .light {
    background-color: var(--color-mid-75);
  }
}

.select_option:disabled {
  background: var(--color-back);

  .light {
    background: var(--color-mid-75);
  }
}

.select_option:hover:enabled, .ASsuggestionHighlighted {
  background: var(--color-back-40);

  .light {
    background-color: var(--color-mid-75);
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: var(--color-light);
  width: 240px;
  height: 32px;
  margin: auto 0;
}

.select-styled {
  position: absolute;
  border-radius: 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mid-20);
  border: 1px solid var(--color-light-50);
  padding: 8px 15px;
  -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.select-styled:after {
  content:"";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: var(--color-light) transparent transparent transparent;
  position: absolute;
  top: 12px;
  right: 10px;
}

.select-styled:hover {
  background-color: var(--color-mid-50);
  border: 1px solid var(--color-light);
}

.select-styled:active, .select-styled.active {
  border-radius: 6px 6px 0px 0px;
  border-bottom: 0px;
  background-color: var(--color-mid-50);
}

.select-styled:active:after, .select-styled.active:after {
  top: 5px;
  border-color: transparent transparent var(--color-light) transparent
}

.select-styled.active + .select-options {
  display: block;
}

.select-options {
  display: none;
  position: absolute;
  max-height: 384px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: hsla(29, 22%, 30%, 1);
  border: 1px solid var(--color-light-50);
  border-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 16px 0px;

  li {
    margin: 0;
    padding: 7px 0;
    text-indent: 15px;
    border-top: 1px solid var(--color-mid-50);
    -webkit-transition: all .25s cubic-bezier(0.2, 0.5, 0.35, 1);
  }
  
  li:hover {
    background: var(--color-light-50);
  }
  
  li[rel="hide"] {
    display: none;
  }
}

.settings-select {
  display: flex;
  align-items: center;
}

.AScontainer {
}

.AScontainerOpen {
}

.ASinput {
  border: none;
  height: 17px;
  background-color: inherit;
}

.ASsuggestionsList {
  color: var(--color-light);
  cursor: pointer;
  max-height: 384px;
  overflow-y: auto;
  top: 21px;
  right: 0px;
  left: 0px;
  z-index: 999;
  margin: -2px;
  padding: 0 4px;
  background-color: var(--color-mid-40);
  border: 1px solid var(--color-light-50);
  border-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 16px 0px;
  width: 180px;
}

.ASsuggestion {
  list-style-type: none;
}

.ASsuggestionFirst {
}

.ASsectionContainer {
}

.ASsectionContainerFirst {
}

.ASsectionTitle {
}
